.agent-detail-container{
    background-color: #1b1d24 ;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    padding-top: 100px;  
}

.back-button {
    width: 100%;
    
}
.back-button img{
    width: 40px;
    height: auto;
    transition: transform 0.3s ease-in-out; 
}
.back-button img:hover{
    transform: translateX(15px);
}

.agent-content-contaner{
    width: 80%;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

.agent-showcase-container {
    display: flex;
    flex-direction: row;
}

.discription-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.agent-overview{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.agent-overview img {
    width: 100%;
    background-position: "center",
    
}

.agent-overview p {
    background-color: #163555ff;
    font-family: "Eczar", serif;
    text-transform: capitalize;
    font-size: 20px;
}

.ability-grid-container {
    background-color: #163555ff;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.ability-container {
    background-color: #163555ff;
    border: 1px solid #ffffff;
    width: 47%;
    padding: 3px;
}


.ability-container img {
    width: 40px;
    height: auto;
}

.agent-role-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.agent-role-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.agent-role-name img {
    width: auto;
    height: 25px;
}

.ability-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ability-description-card {
    padding: 20px;
}

.ability-description p{
    font-size: 14px;
}

@media screen and (max-width: 980px) {
    .agent-showcase-container{
        flex-direction: column-reverse;
    }
    .agent-overview {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .agent-overview {
        width: 100%;
    }
    .agent-content-contaner{
        width: 90%;
        align-items: center;
        
    }
    .agent-detail-container{
        width: 100%;
        padding: 10px;
        padding-top: 120px;
        
    }
    .discription-container{
        width: 100%;
        padding: 20px 0px 20px 0px;
        
    }
    .ability-description{
        width: 90%;
    }
    .ability-description-card {
        padding: 5px;
    }
}