.valorant-page-container{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0 20px 0; 
    width: fit-content;
}

.agent-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    max-height: 100%;
    overflow: auto;
}

.role-list-container{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.role-list-container input {
    position: relative;
    padding-left: 30px; 
    width: 15%;
}

.role-list-container input::before {
    content: url('../../assets/aim.png'); 
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.role-list-container img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    height: 60px;
    background-color: #163555ff;
    color: white;
}

.valorant-icon {
    width: 300px;
    height: auto;
}
.header-separator{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
}
@media screen and (max-width: 560px) {
    .header{
       padding: 20px;
       height: 200px;
       justify-content: start;
       align-items: flex-start;
    }
    .header-separator{
        flex-direction: column;
        align-items: center;   
        width: 50%;
        gap: 20px;
    }
    .role-list-container{
        width: 100%;
    }
}