.sidebar-container{
    padding: 120px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar-links {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 25px;
    
}

.sidebar-links p{
    font-size: 16px;
    color: #ffffff70;
}

.sidebar-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    
}

.sidebar-links a:hover{
    background-color: #34495e;
    transform: translateY(-3px);
    
}

.sidebar-container h2{
    color: #ecf0f1;
    font-size: 22px;
    margin-bottom: 20px;
}



