.genshin-page-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.genshin-page-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    padding: 20px;

}

.genshin-page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    height: 60px;
    background-color: #121418;
}

.genshin-page-header img {
  width: auto;
  height: 100%;
}

.genshin-page-chacraters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 100%;
    overflow: auto;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  
  .pagination-button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination-button:hover {
    background-color: #f0f0f0;
  }
  